# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dossiers node_modules
*/node_modules

# Ignorer tous les fichiers .env
.env
# Ignorer les variantes spécifiques
.env.*
# Ne pas ignorer .env.example
!.env.example


# Dossiers spécifiques à React/Vite
client/dist
client/dist-ssr
*.local



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?